#container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 50%;
    height: 30em;
    margin: auto;
    cursor: pointer;
}

#red { 
    grid-area: 1 / 1 / 2 / 2;
    background-color: red; 
}
#green { 
    grid-area: 1 / 2 / 2 / 3; 
    background-color: green;
}

#blue { 
    grid-area: 2 / 1 / 3 / 2; 
    background-color: blue;
}

#yellow { 
    grid-area: 2 / 2 / 3 / 3; 
    background-color: yellow;
}
    